<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <script src="{{ asset('js/javascript.js') }}"></script>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-theme.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/sticky-footer.css') }}"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div id="wrapper">
    <div id="content">
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-2.2.4.js"
                    integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
        {% endblock %}
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted">Created by Marcin Strzelczyk.</p>
    </div>
</footer>
</body>
</html>
