
<ul>
    <li>
        <p>{{ task.name }} <strong>Category: {{ task.category.name }}</strong></p>
        <p>Start Date: {{ task.startDate|date('Y-m-d H:m') }} Finish Date: {{ task.finishDate|date('Y-m-d H:m') }}</p>
        <a href="{{ path('app_task_edittask', {'id': task.id}) }}">Edit Task</a>
    </li>
</ul>