<script language="JavaScript" type="text/javascript" src="{{ asset('js/finishTask.js') }}"></script>
<ul>
    <li>
        <p>{{ task.name }} <strong>Category: {{ task.category.name }}</strong></p>
        <p>Start Date: {{ task.startDate|date('Y-m-d H:m') }} Finish Date: {{ task.finishDate|date('Y-m-d H:m') }}</p>
        {% if task.isFinished == 1 %}
            <p><strong>Task Is Finished</strong></p>
        {% endif %}
        {% if task.isFinished == 0 %}
            <div id="finishDiv">
            <p><strong>Task Is Active</strong></p>
            <a href="{{ path('app_task_edittask', {'id': task.id}) }}">Edit Task</a>
            <p>
                <button id="finishButton" data-id="{{ task.id }}">Finish Task</button>
            </p>
            </div>
        {% endif %}
    </li>
</ul>